/* tools {
    min-height: 400px;
    background-color: rgb(91, 33, 145);
    color: aliceblue;
    border: 15px dashed rgb(54, 141, 182);
    text-justify: auto;
    padding: 15px;
    margin: 30px 25%;
    text-align: center;
    font-size: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
*/
body {
  background-color: rgb(28, 121, 93);
}
#tools {
  font-size: larger;
}

.tools {
  border: 15px dashed rgb(054, 141, 182);
  background-color: rgb(110, 38, 177);
  color: aliceblue;
  padding: 25px;

}

.blog {
  border: 15px dashed rgb(173, 32, 32);
  background-color: rgb(209, 206, 20);
  color: rgb(15, 60, 97);
  padding: 25px;

}

.my-button {
  align-self: center;
  height: 100%;
  width: 100%;
  border-radius: 30px;
  font-size: 48px;
  color: blueviolet;
  background-color: black;
}
#canvas {
  display: flex;
  align-self: center;
  justify-self: center;

  max-width: 100%;
  
}
